<form action="/users" method="post">
  <label for="email">Insert Email</label>
  <input type="text" name="email">
  <label for="password">Insert Password</label>
  <input type="text" name="password">
  <label for="password_confirmation">Insert Password Confirmation</label>
  <input type="text" name="password_confirmation">
  <input type="submit" name="signup" value="Signup">
</form>
