<p>List of links filtered by: <% @filter_option %></p>

<ul id="links">
  <% @links.each do |link| %>
    <% if link.tags.map(&:name).join == @filter_option %>
      <li>
        Title: <%= link.title %>
        url: <%= link.url %>
        url: <%= link.tags.map(&:name).join %>
      </li>
    <% end %>
  <% end %>
</ul>

<form class="" action="/links/new">
  <input type="submit" name="add_link" value="Add Link">
</form>
